// Primary Colours
$bright-red: #cc1146;
$bright-cyan: #30aac9;
$navy-blue: #113a53;
$star-yellow: #f7f700;
$white: #ffffff;
$black: #000000;

// Alternate Variations
$bright-pink: #dd2c53;
$brightest-pink: #ff3366;
$brightest-cyan: #1ad1ff;
$kirby-pink: #ec8bab;
$lavender: #9084f5;
$fuchsia: #D400FF;
$seafoam-green: #00ffcc;
$lime-green: #00ff08;
$dark-cyan: #1e7fa3;
